<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <br>
      <h1>
        <!--<a href="{{ site.baseurl }}">-->
          {{ site.title }}
        <!--</a>-->
      </h1>
      <p>Software Engineer<br>
      Google</p>
      <p>jian <i class="fa fa-at"></i> ia32.me<br>
      <p><a href=https://scholar.google.com/citations?user=t5kARZ0AAAAJ&hl=en>Google Scholar</a><br>


    </div>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}


      {% assign pages_list = site.pages | sort:"name" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

  </div>
</div>
